<!DOCTYPE html>

<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"> 
		
		<title>Portfólio Login</title>
		
		<link rel="stylesheet" th:href="@{/css/reset.css}" />
		<link rel="stylesheet" th:href="@{/css/login.css}" />
	</head>
	
	<body>
		<main>
			<div class="login-card">
				<header>
					<h2>Portfolio HiOk Dev</h2>
					<p>Efetue o login</p>
				</header>
				
				<form method="post" th:action="@{/login}">
					<div class="form-inputs">
						<div class="form-input">
							<label for="username">Endereço de e-mail</label>
							<input id="username" name="username" type="email" placeholder="📧  Entre com o e-mail"/>
						</div>
						
						<div class="form-input">
							<label for="password">Senha</label>
							<input id="password" name="password" type="password" placeholder="🔒  Entre com a senha"/>
						</div>
						
						<div class="error-msg" th:if="${param.error}">
							<p>
								O e-mail ou senha não confere
							</p>
						</div>
						
						<div class="info-msg" th:if="${param.logout}">
							<p>
								Você foi deslogado
							</p>
						</div>
					</div>
				
					<div class="form-actions">
						<button type="submit">Entrar</button>
					</div>
				</form>
			</div>
		</main>		
	</body>

</html>